* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color:  rgb(254, 206, 230);
}

#nomeDinamico .hello {
    display: block;
    font-size: 20px;
    color: white;
}

.hello {
    font-size: 20px;
    color: white;
}

.Menu-left img {
    width: 250px;
}

.Menu-left {
    position: fixed;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid rgb(243, 125, 166);
    background-color: rgb(0, 0, 0);
}

#buttonSair {
    width: 140px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-top: 90px;
}


.Dicas a {
    text-decoration: none;
    display: flex;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
    background-size: 300%;
    transition: .3s;
    color: #fff;
    text-align: center;
    align-items: center;
}

.Dicas h3 {
    margin-left: 18px;
}

.Dicas a:hover {
    background-size: 320%;
    background-position: right center;
}

.Dicas a:hover svg {
    fill: #fff;
}

.Dicas a svg {
    width: 23px;
    fill: #f09f33;
    transition: .3s ease;
}

.Formulario a {
    text-decoration: none;
    display: flex;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
    background-size: 300%;
    transition: .3s;
    color: #fff;
    text-align: center;
    align-items: center;
}


.Formulario h3 {
    margin-left: 45px;
}

.Formulario a:hover {
    background-size: 320%;
    background-position: right center;
}

.Formulario a:hover svg {
    fill: #fff;
}

.Formulario a svg {
    width: 23px;
    fill: #f09f33;
    transition: .3s ease;
}


.Calculadora a {
    text-decoration: none;
    display: flex;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
    background-size: 300%;
    transition: .3s;
    color: #fff;
    text-align: center;
    align-items: center;
}

.Calculadora h3 {
   
    font-size: 16px;
}

.Calculadora a:hover {
    background-size: 320%;
    background-position: right center;
}

.Calculadora a:hover svg {
    fill: #fff;
}

.Calculadora a svg {
    width: 23px;
    fill: #f09f33;
    transition: .3s ease;
}


h1 {
    margin-left: 74vh;
    
}
#myChart {
    width: 100px;
}

.Dashboard {

    width: 130vh;
    margin-left: 48vh;

}

.LegendaGrafico {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 50vh;
  }
  
  .LegendaGrafico ul {
    list-style-type: none;
    padding: 0;
    font-size: 17px;
  }
  
  .LegendaGrafico li {
    margin-bottom: 5px;
  }
  
  .legenda {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }
  