* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(254, 206, 230); */
    background: linear-gradient(to bottom, blanchedalmond, rgb(255, 222, 161), #eda3c4, #eca8de, #b995e8, #9db9e5, #97e6ce);
}

nav {
    background-color: rgb(243, 125, 166);
    font-family: 'Montserrat', sans-serif;

}

nav img {
    width: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    margin-right: 10px;

}

nav li a:hover {
    transition: .3s;
    color: rgb(187, 11, 99);
}

button {
    margin-left: 880px;
    border: solid rgb(187, 11, 99);
    margin-top: 10px;
    background: rgb(252, 165, 216);
    color: rgb(187, 11, 99);
    height: 40px;
    width: 100px;
    text-shadow: none;
    border-radius: 25px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    transition: .3s;
    color: rgb(126, 7, 67);
}

header,
section {
    max-width: 800px;
    margin: 0 auto;

}

.Postagem1 {
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.Postagem1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.Postagem1 img {
    width: 500px;
    border-radius: 10px;
}

.Postagem2 img {
    width: 800px;
    border-radius: 10px;
}

.Postagem2 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}


.Postagem2 h2 {
    font-family: 'Montserrat', sans-serif;
}

/* Footer */

footer {
    background-color: rgb(243, 125, 166);
    width: 100%;
    height: 130px;
    display: flex;
    margin: 80px 0 0 0;
    
}

.RedeSocial {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RedeSocial img{
    width: 50px;
}

.contato {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.LogoFooter img {
    width: 280px;
    margin-left: 100px;
    margin-top: 30px;
}

.direitos {
    margin-top: 90px;
}

